# Working with parquet files

## Objective

+ In this assignment, we will use the data downloaded with the module `data_manager` to create features.

(11 pts total)

## Prerequisites

+ This notebook assumes that price data is available to you in the environment variable `PRICE_DATA`. If you have not done so, then execute the notebook `01_materials/labs/2_data_engineering.ipynb` to create this data set.

+ Load the environment variables using dotenv. (1 pt)

In [1]:
# Write your code below.
%load_ext dotenv
%dotenv

In [2]:
import dask.dataframe as dd

+ Load the environment variable `PRICE_DATA`.
+ Use [glob](https://docs.python.org/3/library/glob.html) to find the path of all parquet files in the directory `PRICE_DATA`.

(1pt)

In [3]:
import os
from glob import glob

# Write your code below.
PRICE_DATA = os.getenv('PRICE_DATA')

# Create a list of paths to all parquet files within the PRICE_DATA directory
parquet_files = glob(os.path.join(PRICE_DATA, '**/*.parquet'), recursive=True)

For each ticker and using Dask, do the following:

+ Add lags for variables Close and Adj_Close.
+ Add returns based on Close:
    
    - `returns`: (Close / Close_lag_1) - 1

+ Add the following range: 

    - `hi_lo_range`: this is the day's High minus Low.

+ Assign the result to `dd_feat`.

(4 pt)

In [4]:
# Write your code below.

# Read the parquet files as a dask dataframe
dd_px = dd.read_parquet(parquet_files).set_index("ticker")

In [5]:
# Ideally we should sort the groups by date before calculating new columns.  However, I am not sure how to apply sorting in a way that grouping is preserved.
# Add lags for variables Close and Adj Close using apply function after grouping by ticker.
dd_feat = dd_px.groupby('ticker',group_keys=False).apply(
    lambda x: x.assign(Close_lag_1 = x['Close'].shift(1),
                        Adj_Close_lag_1 = x['Adj Close'].shift(1))
)

# Calculate returns and hi_lo_range using lambda functions within assign.
dd_feat = dd_feat.assign(
    returns = lambda x: x['Close']/x["Close_lag_1"] - 1,
    hi_lo_range = lambda x: x['High'] - x['Low']
)

/var/folders/s7/1h5812v56198slm5x05gnjl00000gn/T/ipykernel_98931/692851650.py:3: UserWarning: `meta` is not specified, inferred from partial data.
Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result

  dd_feat = dd_px.groupby('ticker',group_keys=False).apply(

+ Convert the Dask data frame to a pandas data frame. 
+ Add a new feature containing the moving average of `returns` using a window of 10 days. There are several ways to solve this task, a simple one uses `.rolling(10).mean()`.

(3 pt)

In [6]:
# Write your code below.

# Convert the Dask data frame to a pandas dataframe
df = dd_feat.compute().reset_index()
df

,ticker,Date,Open,High,Low,Close,Adj Close,Volume,source,Year,Close_lag_1,Adj_Close_lag_1,returns,hi_lo_range
0,A,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A.csv,1999,NaN,NaN,NaN,7.153078
1,A,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A.csv,1999,31.473534,27.068665,-0.082386,2.280043
2,A,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A.csv,1999,28.880543,24.838577,0.089783,2.816525
3,A,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A.csv,1999,31.473534,27.068665,-0.090909,2.592991
4,A,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A.csv,1999,28.612303,24.607880,0.026563,1.385908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324306,ZEUS,2004-12-27,28.000000,29.230000,27.690001,28.670000,26.258089,651600.0,ZEUS.csv,2004,27.670000,25.342215,0.036140,1.539999
324307,ZEUS,2004-12-28,28.900000,30.200001,28.700001,29.900000,27.384602,529400.0,ZEUS.csv,2004,28.670000,26.258089,0.042902,1.500000
324308,ZEUS,2004-12-29,30.280001,30.299999,29.030001,29.070000,26.624434,355300.0,ZEUS.csv,2004,29.900000,27.384602,-0.027759,1.269999
324309,ZEUS,2004-12-30,28.450001,28.450001,25.330000,26.170000,23.968391,1361800.0,ZEUS.csv,2004,29.070000,26.624434,-0.099759,3.120001
324310,ZEUS,2004-12-31,25.940001,27.420000,25.940001,26.510000,24.279804,544800.0,ZEUS.csv,2004,26.170000,23.968391,0.012992,1.480000

In [7]:
# I noticed that when we convert our dask dataframe to pandas, the order of rows may not be preserved.
# Therefore, before calculating rolling average, we should make sure that the dataframe is sorted by dates within each ticker.
df_sorted = df.sort_values(by = ['ticker', 'Date'])
df_sorted

,ticker,Date,Open,High,Low,Close,Adj Close,Volume,source,Year,Close_lag_1,Adj_Close_lag_1,returns,hi_lo_range
0,A,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A.csv,1999,NaN,NaN,NaN,7.153078
1,A,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A.csv,1999,31.473534,27.068665,-0.082386,2.280043
2,A,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A.csv,1999,28.880543,24.838577,0.089783,2.816525
3,A,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A.csv,1999,31.473534,27.068665,-0.090909,2.592991
4,A,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A.csv,1999,28.612303,24.607880,0.026563,1.385908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321582,ZEUS,2020-03-26,9.610000,9.940000,9.260000,9.590000,9.590000,60500.0,ZEUS.csv,2020,9.670000,9.670000,-0.008273,0.679999
321583,ZEUS,2020-03-27,9.330000,9.330000,8.700000,8.700000,8.700000,52900.0,ZEUS.csv,2020,9.590000,9.590000,-0.092805,0.630000
321584,ZEUS,2020-03-30,8.810000,9.760000,8.700000,9.680000,9.680000,73700.0,ZEUS.csv,2020,8.700000,8.700000,0.112644,1.060000
321585,ZEUS,2020-03-31,9.640000,10.470000,9.590000,10.350000,10.350000,68900.0,ZEUS.csv,2020,9.680000,9.680000,0.069215,0.880000
321586,ZEUS,2020-04-01,10.140000,10.340000,9.310000,9.470000,9.470000,34000.0,ZEUS.csv,2020,10.350000,10.350000,-0.085024,1.030000

In [8]:
# Check if the calculations in dask have happened correctly by looking at first two rows of each ticker
# for dataframes obtained from dask and dataframe sorted by Date within each ticker.
for ticker in df['ticker'].unique():
    print("Dataframe obtained from dask")
    print(df[df['ticker']==ticker][['ticker','Date','Close', 'Close_lag_1']].head(2))
    print("Dataframe after sorting by dates")
    print(df_sorted[df_sorted['ticker']==ticker][['ticker','Date','Close', 'Close_lag_1']].head(2))
    print("\n")

Dataframe obtained from dask
  ticker       Date      Close  Close_lag_1
0      A 1999-11-18  31.473534          NaN
1      A 1999-11-19  28.880543    31.473534
Dataframe after sorting by dates
  ticker       Date      Close  Close_lag_1
0      A 1999-11-18  31.473534          NaN
1      A 1999-11-19  28.880543    31.473534


Dataframe obtained from dask
     ticker       Date    Close  Close_lag_1
5124    ACB 2009-07-06  0.36008          NaN
5125    ACB 2009-07-07  0.33089      0.36008
Dataframe after sorting by dates
     ticker       Date      Close  Close_lag_1
7827    ACB 2000-01-03  40.900398     0.809000
7828    ACB 2000-01-04  40.889801    40.900398


Dataframe obtained from dask
      ticker       Date      Close  Close_lag_1
10179   AFYA 2019-07-19  23.844999          NaN
10180   AFYA 2019-07-22  23.559999    23.844999
Dataframe after sorting by dates
      ticker       Date      Close  Close_lag_1
10179   AFYA 2019-07-19  23.844999          NaN
10180   AFYA 2019-07-22  23.559999    23.844999


Dataframe obtained from dask
      ticker       Date  Close  Close_lag_1
10357   ALDX 2014-05-02    7.2          NaN
10358   ALDX 2014-05-05    6.7          7.2
Dataframe after sorting by dates
      ticker       Date  Close  Close_lag_1
10357   ALDX 2014-05-02    7.2          NaN
10358   ALDX 2014-05-05    6.7          7.2


Dataframe obtained from dask
      ticker       Date     Close  Close_lag_1
11847   AMAT 1991-07-03  0.453125          NaN
11848   AMAT 1991-07-05  0.457031     0.453125
Dataframe after sorting by dates
      ticker       Date     Close  Close_lag_1
19090   AMAT 1980-03-17  0.095486    43.299999
19091   AMAT 1980-03-18  0.093750     0.095486


Dataframe obtained from dask
      ticker       Date  Close  Close_lag_1
21946   AMPY 2012-04-20  150.0          NaN
21947   AMPY 2012-04-23  156.0        150.0
Dataframe after sorting by dates
      ticker       Date  Close  Close_lag_1
21946   AMPY 2012-04-20  150.0          NaN
21947   AMPY 2012-04-23  156.0        150.0


Dataframe obtained from dask
      ticker       Date  Close  Close_lag_1
23945   AOSL 2019-07-03   8.93          NaN
23946   AOSL 2019-07-05   8.94         8.93
Dataframe after sorting by dates
      ticker       Date      Close  Close_lag_1
24134   AOSL 2010-04-29  17.700001     6.410000
24135   AOSL 2010-04-30  17.910000    17.700001


Dataframe obtained from dask
      ticker       Date      Close  Close_lag_1
26444   APTX 2018-06-21  20.200001          NaN
26445   APTX 2018-06-22  20.000000    20.200001
Dataframe after sorting by dates
      ticker       Date      Close  Close_lag_1
26444   APTX 2018-06-21  20.200001          NaN
26445   APTX 2018-06-22  20.000000    20.200001


Dataframe obtained from dask
      ticker       Date  Close  Close_lag_1
26892   ATHM 2013-12-11  30.07          NaN
26893   ATHM 2013-12-12  29.26        30.07
Dataframe after sorting by dates
      ticker       Date  Close  Close_lag_1
26892   ATHM 2013-12-11  30.07          NaN
26893   ATHM 2013-12-12  29.26        30.07


Dataframe obtained from dask
      ticker       Date  Close  Close_lag_1
28479   AWRE 2015-01-02   4.50          NaN
28480   AWRE 2015-01-05   4.53          4.5
Dataframe after sorting by dates
      ticker       Date   Close  Close_lag_1
33699   AWRE 1996-08-09  14.750         4.54
33700   AWRE 1996-08-12  14.625        14.75


Dataframe obtained from dask
      ticker       Date     Close  Close_lag_1
34430    AXP 1972-06-01  3.693287          NaN
34431    AXP 1972-06-02  3.677195     3.693287
Dataframe after sorting by dates
      ticker       Date     Close  Close_lag_1
34430    AXP 1972-06-01  3.693287          NaN
34431    AXP 1972-06-02  3.677195     3.693287


Dataframe obtained from dask
      ticker       Date  Close  Close_lag_1
46495   BKTI 2005-01-03   2.35          NaN
46496   BKTI 2005-01-04   2.37         2.35
Dataframe after sorting by dates
      ticker       Date  Close  Close_lag_1
50333   BKTI 1980-03-18   24.5         1.59
50334   BKTI 1980-03-19   24.0        24.50


Dataframe obtained from dask
      ticker       Date   Close  Close_lag_1
56592    BLK 1999-10-01  14.125          NaN
56593    BLK 1999-10-04  14.000       14.125
Dataframe after sorting by dates
      ticker       Date   Close  Close_lag_1
56592    BLK 1999-10-01  14.125          NaN
56593    BLK 1999-10-04  14.000       14.125


Dataframe obtained from dask
      ticker       Date  Close  Close_lag_1
61750    BSE 2011-07-05  13.72          NaN
61751    BSE 2011-07-06  13.74        13.72
Dataframe after sorting by dates
      ticker       Date  Close  Close_lag_1
63951    BSE 2002-10-29   15.0        12.19
63952    BSE 2002-10-30   15.0        15.00


Dataframe obtained from dask
      ticker       Date    Close  Close_lag_1
66136    BWA 1993-08-13  3.12500          NaN
66137    BWA 1993-08-16  3.09375        3.125
Dataframe after sorting by dates
      ticker       Date    Close  Close_lag_1
66136    BWA 1993-08-13  3.12500          NaN
66137    BWA 1993-08-16  3.09375        3.125


Dataframe obtained from dask
      ticker       Date      Close  Close_lag_1
72843   CCEP 1996-07-02  11.666667          NaN
72844   CCEP 1996-07-03  11.625000    11.666667
Dataframe after sorting by dates
      ticker       Date     Close  Close_lag_1
78822   CCEP 1986-11-24  5.333333    37.009998
78823   CCEP 1986-11-25  5.208333     5.333333


Dataframe obtained from dask
      ticker       Date      Close  Close_lag_1
81250    CET 2019-07-03  30.950001          NaN
81251    CET 2019-07-05  30.850000    30.950001
Dataframe after sorting by dates
      ticker       Date  Close  Close_lag_1
89416    CET 1980-03-17  6.875    30.799999
89417    CET 1980-03-18  6.625     6.875000


Dataframe obtained from dask
      ticker       Date  Close  Close_lag_1
91170   CHRS 2001-07-16    0.5          NaN
91171   CHRS 2001-07-17    0.5          0.5
Dataframe after sorting by dates
      ticker       Date  Close  Close_lag_1
91170   CHRS 2001-07-16    0.5          NaN
91171   CHRS 2001-07-17    0.5          0.5


Dataframe obtained from dask
      ticker       Date  Close  Close_lag_1
93252    CIK 2000-01-03    6.0          NaN
93253    CIK 2000-01-04    6.0          6.0
Dataframe after sorting by dates
      ticker       Date   Close  Close_lag_1
97277    CIK 1987-04-08  10.125        2.780
97278    CIK 1987-04-09  10.125       10.125


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
101565   CLNC 2018-02-01   20.4          NaN
101566   CLNC 2018-02-02   19.5         20.4
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
101565   CLNC 2018-02-01   20.4          NaN
101566   CLNC 2018-02-02   19.5         20.4


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
102110   CNSP 2019-11-08   4.57          NaN
102111   CNSP 2019-11-11   4.25         4.57
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
102110   CNSP 2019-11-08   4.57          NaN
102111   CNSP 2019-11-11   4.25         4.57


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
102209   CTSO 2006-08-08  76.25          NaN
102210   CTSO 2006-08-09  95.25        76.25
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
102209   CTSO 2006-08-08  76.25          NaN
102210   CTSO 2006-08-09  95.25        76.25


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
105644   CVCY 2006-01-03  14.99          NaN
105645   CVCY 2006-01-04  14.99        14.99
Dataframe after sorting by dates
       ticker       Date     Close  Close_lag_1
109230   CVCY 1999-03-08  5.284091    11.200000
109231   CVCY 1999-03-09  5.284091     5.284091


Dataframe obtained from dask
       ticker       Date     Close  Close_lag_1
110947   CVLY 2011-01-03  7.310299          NaN
110948   CVLY 2011-01-04  7.427828     7.310299
Dataframe after sorting by dates
       ticker       Date    Close  Close_lag_1
113274   CVLY 1994-04-05  5.61732     13.31000
113275   CVLY 1994-04-06  5.80820      5.61732


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
117492  DHCNI 2012-07-23  23.85          NaN
117493  DHCNI 2012-07-24  24.18        23.85
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
117492  DHCNI 2012-07-23  23.85          NaN
117493  DHCNI 2012-07-24  24.18        23.85


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
119428     DK 2018-07-03  49.810001          NaN
119429     DK 2018-07-05  48.919998    49.810001
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
119868     DK 2006-05-04  16.25        14.53
119869     DK 2006-05-05  16.42        16.25


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
122930    DNL 2006-06-16  49.959999          NaN
122931    DNL 2006-06-19  49.959999    49.959999
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
122930    DNL 2006-06-16  49.959999          NaN
122931    DNL 2006-06-19  49.959999    49.959999


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
126402    DTW 2007-01-03   7.21          NaN
126403    DTW 2007-01-04   0.45         7.21
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
126402    DTW 2007-01-03   7.21          NaN
126403    DTW 2007-01-04   0.45         7.21


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
127775    EHI 2006-01-03  12.50          NaN
127776    EHI 2006-01-04  12.58         12.5
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
131361    EHI 2003-07-29   15.0         7.34
131362    EHI 2003-07-30   15.0        15.00


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
131974   EVRI 2005-09-23  14.96          NaN
131975   EVRI 2005-09-26  15.00        14.96
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
131974   EVRI 2005-09-23  14.96          NaN
131975   EVRI 2005-09-26  15.00        14.96


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
135629   FARO 2014-01-02  56.599998          NaN
135630   FARO 2014-01-03  56.419998    56.599998
Dataframe after sorting by dates
       ticker       Date   Close  Close_lag_1
137202   FARO 1997-09-18  16.250    41.799999
137203   FARO 1997-09-19  17.375    16.250000


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
141300    FND 2017-04-27  32.049999          NaN
141301    FND 2017-04-28  32.400002    32.049999
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
141300    FND 2017-04-27  32.049999          NaN
141301    FND 2017-04-28  32.400002    32.049999


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
142038    GLG 2012-02-06    3.0          NaN
142039    GLG 2012-02-07    4.6          3.0
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
142038    GLG 2012-02-06    3.0          NaN
142039    GLG 2012-02-07    4.6          3.0


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
144088    GRF 2016-01-04   7.46          NaN
144089    GRF 2016-01-05   7.51         7.46
Dataframe after sorting by dates
       ticker       Date     Close  Close_lag_1
145157    GRF 2004-01-23  7.391304     5.890000
145158    GRF 2004-01-26  7.391304     7.391304


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
148164   HCKT 2008-07-03   5.67          NaN
148165   HCKT 2008-07-07   5.84         5.67
Dataframe after sorting by dates
       ticker       Date    Close  Close_lag_1
151121   HCKT 1998-05-28  15.9375      12.2000
151122   HCKT 1998-05-29  15.4375      15.9375


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
153662    HCM 2016-03-16   13.5          NaN
153663    HCM 2016-03-17   13.4         13.5
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
153662    HCM 2016-03-16   13.5          NaN
153663    HCM 2016-03-17   13.4         13.5


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
154681   IBDU 2019-09-19  25.170000          NaN
154682   IBDU 2019-09-20  25.290001        25.17
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
154681   IBDU 2019-09-19  25.170000          NaN
154682   IBDU 2019-09-20  25.290001        25.17


Dataframe obtained from dask
       ticker       Date     Close  Close_lag_1
154816   INFY 1999-03-11  0.732422          NaN
154817   INFY 1999-03-12  0.728516     0.732422
Dataframe after sorting by dates
       ticker       Date     Close  Close_lag_1
154816   INFY 1999-03-11  0.732422          NaN
154817   INFY 1999-03-12  0.728516     0.732422


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
160116   IPDN 2019-07-03   2.18          NaN
160117   IPDN 2019-07-05   2.21         2.18
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
160305   IPDN 2013-03-05  61.360001     0.910000
160306   IPDN 2013-03-06  57.599998    61.360001


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
161899   IPGP 2006-12-13  25.60          NaN
161900   IPGP 2006-12-14  25.15         25.6
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
161899   IPGP 2006-12-13  25.60          NaN
161900   IPGP 2006-12-14  25.15         25.6


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
165246    IQV 2013-05-09  42.110001          NaN
165247    IQV 2013-05-10  42.389999    42.110001
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
165246    IQV 2013-05-09  42.110001          NaN
165247    IQV 2013-05-10  42.389999    42.110001


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
166983   IRBT 2005-11-09  26.700001          NaN
166984   IRBT 2005-11-10  34.500000    26.700001
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
166983   IRBT 2005-11-09  26.700001          NaN
166984   IRBT 2005-11-10  34.500000    26.700001


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
170605   IRMD 2014-07-16    9.9          NaN
170606   IRMD 2014-07-17    9.0          9.9
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
170605   IRMD 2014-07-16    9.9          NaN
170606   IRMD 2014-07-17    9.0          9.9


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
172044   IVOL 2019-09-09  25.775000          NaN
172045   IVOL 2019-09-10  25.674999       25.775
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
172187   IVOL 2019-05-14  25.010000        25.68
172188   IVOL 2019-05-15  25.059999        25.01


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
172268     IX 2012-07-02  46.810001          NaN
172269     IX 2012-07-03  47.200001    46.810001
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
174218     IX 1998-09-16  27.291666    57.790001
174219     IX 1998-09-17  27.395834    27.291666


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
177689    JHG 2017-05-30  30.600000          NaN
177690    JHG 2017-05-31  31.280001         30.6
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
177689    JHG 2017-05-30  30.600000          NaN
177690    JHG 2017-05-31  31.280001         30.6


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
178405   JHMI 2016-08-18  26.680000          NaN
178406   JHMI 2016-08-19  26.780001        26.68
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
178405   JHMI 2016-08-18  26.680000          NaN
178406   JHMI 2016-08-19  26.780001        26.68


Dataframe obtained from dask
       ticker       Date      Close  Close_lag_1
179316    KEN 2015-01-15  17.299999          NaN
179317    KEN 2015-01-16  17.160000    17.299999
Dataframe after sorting by dates
       ticker       Date      Close  Close_lag_1
179316    KEN 2015-01-15  17.299999          NaN
179317    KEN 2015-01-16  17.160000    17.299999


Dataframe obtained from dask
       ticker       Date     Close  Close_lag_1
180628    KNX 2002-01-02  8.440000          NaN
180629    KNX 2002-01-03  8.577778         8.44
Dataframe after sorting by dates
       ticker       Date     Close  Close_lag_1
185222    KNX 1994-10-25  1.901235    31.190001
185223    KNX 1994-10-26  1.975309     1.901235


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
187032    KRC 1997-01-29  25.25          NaN
187033    KRC 1997-01-30  25.25        25.25
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
187032    KRC 1997-01-29  25.25          NaN
187033    KRC 1997-01-30  25.25        25.25


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
192864    KZR 2017-01-17    0.2          NaN
192865    KZR 2017-01-18    0.2          0.2
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
192864    KZR 2017-01-17    0.2          NaN
192865    KZR 2017-01-18    0.2          0.2


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
193336   LAZY 2019-01-02   5.98          NaN
193337   LAZY 2019-01-03   5.75         5.98
Dataframe after sorting by dates
       ticker       Date    Close  Close_lag_1
193651   LAZY 2018-03-16  11.1000         1.94
193652   LAZY 2018-03-19  10.9672        11.10


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
193851   LITB 2013-06-06  11.61          NaN
193852   LITB 2013-06-07  12.53        11.61
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
193851   LITB 2013-06-06  11.61          NaN
193852   LITB 2013-06-07  12.53        11.61


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
195569   LIVE 2002-01-29   74.0          NaN
195570   LIVE 2002-01-30   52.0         74.0
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
195569   LIVE 2002-01-29   74.0          NaN
195570   LIVE 2002-01-30   52.0         74.0


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
200145    LND 2015-01-02   3.15          NaN
200146    LND 2015-01-05   3.19         3.15
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
201466    LND 2012-05-15   3.86         3.10
201467    LND 2012-05-16   3.86         3.86


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
202128    LYV 2005-12-21  10.85          NaN
202129    LYV 2005-12-22  10.60        10.85
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
202128    LYV 2005-12-21  10.85          NaN
202129    LYV 2005-12-22  10.60        10.85


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
205721  MDRRP 2020-02-13  21.00          NaN
205722  MDRRP 2020-02-14  20.85         21.0
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
205721  MDRRP 2020-02-13  21.00          NaN
205722  MDRRP 2020-02-14  20.85         21.0


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
205755   MEIP 2011-07-05   6.54          NaN
205756   MEIP 2011-07-06   7.20         6.54
Dataframe after sorting by dates
       ticker       Date  Close  Close_lag_1
207956   MEIP 2003-12-18  450.0         1.46
207957   MEIP 2003-12-19  456.0       450.00


Dataframe obtained from dask
       ticker       Date  Close  Close_lag_1
209854    MFO 2012-04-17  24.75          NaN
209855    MFO 2012-04-18  24.84        24.75
Dataframe after sorting by dates

We can see that for many of the tickers, the Close_lag_1 calculation is incorrect for the very first ticker entry because the most recent date is not the first row in the dask dataframe.

In [9]:
# Calcualte the rolling average
df_result = df.groupby("ticker", group_keys=False).apply(
    lambda x: x.assign(moving_10_day_return_average = x['returns'].rolling(10).mean()))

# The first 10 rows of the new column will be NaN because there aren't 10 preceding entries to calculate the rolling mean. 
# The columns starts to get populated once there are 10 preceding entries.
df_result.head(20)

/var/folders/s7/1h5812v56198slm5x05gnjl00000gn/T/ipykernel_98931/2622551863.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_result = df.groupby("ticker", group_keys=False).apply(

,ticker,Date,Open,High,Low,Close,Adj Close,Volume,source,Year,Close_lag_1,Adj_Close_lag_1,returns,hi_lo_range,moving_10_day_return_average
0,A,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A.csv,1999,NaN,NaN,NaN,7.153078,NaN
1,A,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A.csv,1999,31.473534,27.068665,-0.082386,2.280043,NaN
2,A,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A.csv,1999,28.880543,24.838577,0.089783,2.816525,NaN
3,A,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A.csv,1999,31.473534,27.068665,-0.090909,2.592991,NaN
4,A,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A.csv,1999,28.612303,24.607880,0.026563,1.385908,NaN
5,A,1999-11-26,29.238197,29.685265,29.148785,29.461731,25.338428,1729400.0,A.csv,1999,29.372318,25.261524,0.003044,0.536480,NaN
6,A,1999-11-29,29.327610,30.355865,29.014664,30.132332,25.915169,4074700.0,A.csv,1999,29.461731,25.338428,0.022762,1.341202,NaN
7,A,1999-11-30,30.042919,30.713520,29.282904,30.177038,25.953619,4310000.0,A.csv,1999,30.132332,25.915169,0.001484,1.430616,NaN
8,A,1999-12-01,30.177038,31.071173,29.953505,30.713520,26.415012,2957300.0,A.csv,1999,30.177038,25.953619,0.017778,1.117668,NaN
9,A,1999-12-02,31.294706,32.188843,30.892345,31.562946,27.145563,3069800.0,A.csv,1999,30.713520,26.415012,0.027656,1.296497,NaN
10,A,1999-12-03,32.144135,32.680614,31.697067,31.831188,27.376266,3041600.0,A.csv,1999,31.562946,27.145563,0.008499,0.983547,0.002427
11,A,1999-12-06,32.367668,33.217094,32.322960,32.725323,28.145258,2250700.0,A.csv,1999,31.831188,27.376266,0.028090,0.894135,0.013475
12,A,1999-12-07,32.725323,32.904148,31.697067,32.367668,27.837664,2215900.0,A.csv,1999,32.725323,28.145258,-0.010929,1.207081,0.003404
13,A,1999-12-08,32.367668,32.635910,32.054722,32.322960,27.799208,1887800.0,A.csv,1999,32.367668,27.837664,-0.001381,0.581188,0.012356
14,A,1999-12-09,32.367668,32.859444,32.367668,32.770027,28.183710,2029000.0,A.csv,1999,32.322960,27.799208,0.013831,0.491776,0.011083
15,A,1999-12-10,32.680614,32.859444,32.010014,32.010014,27.530067,1664700.0,A.csv,1999,32.770027,28.183710,-0.023192,0.849430,0.008460
16,A,1999-12-13,32.546494,33.082977,31.741774,32.546494,27.991461,4020500.0,A.csv,1999,32.010014,27.530067,0.016760,1.341204,0.007859
17,A,1999-12-14,32.457081,32.457081,30.087626,30.758226,26.453466,2328900.0,A.csv,1999,32.546494,27.991461,-0.054945,2.369455,0.002217
18,A,1999-12-15,30.042919,30.266453,29.327610,29.819386,25.646021,2917700.0,A.csv,1999,30.758226,26.453466,-0.030523,0.938843,-0.002613
19,A,1999-12-16,30.042919,33.798283,30.042919,33.798283,29.068048,2583900.0,A.csv,1999,29.819386,25.646021,0.133433,3.755363,0.007964

Please comment:

+ Was it necessary to convert to pandas to calculate the moving average return?
+ Would it have been better to do it in Dask? Why?

(1 pt)

- It is theoretically not necessary to convert to pandas to calculate the moving average return. However, in practice, when I performed row based operations in dask, even calculation of a new column based on previous day's prices (Close_lag_1 and Adj_Close_lag_1), there are errors in calculation because dask does not seem to preserve the order of rows. Therefore, there is a high chance that the results where row-based operations when peformed in dask will be incorrect and we should use pandas whenever order of rows needs to be preserved and row-based operations are needed.

My conclusion is that any operation requiring ordering of rows (e.g. sorting by date) should not be performed in dask. Therefore, if I had to re-do the current notebook, I would use pandas to add the new columns Close_lag_1 and Adj_Close_lag_1 as well as calculation of rolling averages because they need strict ordering of rows and dask seems to make errors in these calculations. Dask is suitable for operations such as calculation of hi_lo_range and returns because these are stricly column operations and do not depend on ordering of rows.

## Criteria

The [rubric](./assignment_1_rubric_clean.xlsx) contains the criteria for grading.

## Submission Information

🚨 **Please review our [Assignment Submission Guide](https://github.com/UofT-DSI/onboarding/blob/main/onboarding_documents/submissions.md)** 🚨 for detailed instructions on how to format, branch, and submit your work. Following these guidelines is crucial for your submissions to be evaluated correctly.

### Submission Parameters:
* Submission Due Date: `HH:MM AM/PM - DD/MM/YYYY`
* The branch name for your repo should be: `assignment-1`
* What to submit for this assignment:
    * This Jupyter Notebook (assignment_1.ipynb) should be populated and should be the only change in your pull request.
* What the pull request link should look like for this assignment: `https://github.com/<your_github_username>/production/pull/<pr_id>`
    * Open a private window in your browser. Copy and paste the link to your pull request into the address bar. Make sure you can see your pull request properly. This helps the technical facilitator and learning support staff review your submission easily.

Checklist:
- [ ] Created a branch with the correct naming convention.
- [ ] Ensured that the repository is public.
- [ ] Reviewed the PR description guidelines and adhered to them.
- [ ] Verify that the link is accessible in a private browser window.

If you encounter any difficulties or have questions, please don't hesitate to reach out to our team via our Slack at `#cohort-3-help`. Our Technical Facilitators and Learning Support staff are here to help you navigate any challenges.